name: Tests

on:
  pull_request:
    branches:
    - master

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3", "3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@main
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Bats
        run: ./__tests__/setup-bats.sh
      - name: Install Python dependencies
        run: ./__tests__/setup-pip.sh
      - name: Tests
        run: ./__tests__/test-ci.sh
